html{
    scroll-behavior:smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
}
.logo{
    color: white;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li{
    margin-left: 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.navbar ul li a:hover{
    color: #00c6ff;
}


.hero{
    height: 100vh;
    padding-top: 80px;
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.hero h1{
    font-size: 50px;

}
.hero p{
    font-size: 22px;
    margin: 10px 0;
}
.hero button{
    padding: 10px 20px;
    border: none;
    background: #00c6ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.resume-btn{
    display: inline-block;
    margin-top: 15px;
    padding: 12px 25px;
    background: transparent;
    border: 2px solid #00c6ff;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s;
}
.resume-btn:hover{
    background: #00c6ff;
    transition: scale(1.05);
}
.about{
    padding: 80px;
    text-align: center;
    background: #f5f5f5;
}

.about h2{
    font-size: 32px;
    margin-bottom: 20px;
}
.about p{
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    line-height: 1.6;
}

.skills{
    padding: 80px 20px;
    text-align: center;
}
.skills h2{
    font-size: 32px;
    margin-bottom: 30px;
}
.skills-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.skill-box{
    background: #243b55;
    color: white;
    padding: 20px 40px;
    border-radius: 8px;
    font-size: 18px;
    transition: 0.3s;
}
.skill-box:hover{
    background: #00c6ff;
    transform: scale(1.1);
}
.projects{
    padding: 80px;
    background: #f5f5f5;
    text-align: center;
}
.projects h2{
    font-size: 32px;
    margin-bottom: 40px;
}
.project-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.project-card{
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.project-card h3{
    margin-bottom: 10px;
}

.project-card:hover{
    transform: translateY(-10px);
}
.work-btn{
    display: inline-block;
    margin-top: 15px;
    padding: 12px 25px;
    background: #00c6ff;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s;
}
.work-btn:hover{
    background: #009edb;
    transform: scale(1.05);
}
.contact{
    padding: 80px 20px;
    text-align: center;
    background: #141e30;
    color: white;
}
.contact h2{
    font-size: 32px;
    margin-bottom: 10px;
}
.contact p{
    margin-bottom: 30px;
}
.contact form{
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contact input,
.contact textarea{
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.contact button{
    padding: 12px;
    background: #00c6ff;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}
.contact button:hover{
    background: #009edb;
}
section{
    scroll-margin-top: 100px;
}
.footer{
    background: #000;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer p{
    margin-bottom: 10px;
}

.social-links a{
    color: #00c6ff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}
.social-links a:hover{
    color: white;
}

@media (max-width: 768px){
    .navbar{
        flex-direction: column;
        padding: 15px;
    text-align: center;
    }
    .navbar ul{
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .hero{
        padding: 0 20px;
        height: auto;
        min-height: 100vh;
    }
    .hero h1{
        font-size: 30px;
    }
    .hero p{
        font-size: 18px;
    }

    .about{
        padding: 60px 20px;
    }
    .about p{
        font-size: 16px;
    }

    .skills-container{
        flex-direction: column;
        align-items: center;
    }
    .skill-box{
        width: 80%;
        text-align: center;
    }
 
    .project-container{
        flex-direction: column;
        align-items: center;
    }
    .project-card{
        width: 90%;
        max-width: 320px;
    }
 
    .contact form{
        width: 90%;
    }
 }

 